<div class="list-group">
    <a class="list-group-item list-group-item-action clearfix" 
    style="cursor: pointer" 
    [routerLink]="[customer.id]"
    routerLinkActive = "active">
        <h4 class="list-group-item-heading">{{ customer.name }} - {{ customer.vatId }}</h4>
         <div class="d-flex justify-content-between align-items-center">
            <p class="list-group-item-text">{{ customer.address }}</p>
            <span class="badge badge-success">Messages sent: {{ customer.messages.length }}</span>
        </div>
    </a>
</div>